.papers-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem 2rem;
  padding: 0;
  list-style: none;
}

@media (max-width: 1000px) {
  .papers-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 700px) {
  .papers-list {
    grid-template-columns: 1fr;
  }
}

.paper-item {
  break-inside: avoid;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 1em;
  margin-bottom: 0.5em;
  background: #fff;
}
.paper-link {
    font-size: small;
    text-decoration: none;
    border-bottom: dotted 1px black;
}
.paper-title {
    @include sans_bold;
    clear: both;
    font-size: 1.3rem;
}
.paper-content {
    clear: both;
    overflow: auto;
    padding-top: 1em;
}
.paper-image {
    margin-right: 1em;
    float: left;
    padding-bottom: 1em;
}
.paper-brief {
    text-align: justify;
    float: left;
    display: contents;
}
