.projects-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem 2rem;
  padding: 0;
  list-style: none;
}

@media (max-width: 1000px) {
  .projects-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 700px) {
  .projects-list {
    grid-template-columns: 1fr;
  }
}

.project-item {
  break-inside: avoid;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 1em;
  margin-bottom: 0.5em;
  background: #fff;
}

.project-link {
  color: #333;
  text-decoration: none;
  border-bottom: 1px solid;
  &:hover {
    border-bottom: none;
    color: #9c9c9c;
  }
}

.project-title {
  font-weight: bold;
  font-size: 1.1em;
}

.project-image {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin: 10px 0;
}

.project-description {
  margin: 10px 0;
  line-height: 1.4;
} 